USE [ARCIPRESTE3]
GO
/****** Object:  StoredProcedure [dbo].[PA_AÑADIR_PEDIDO]    Script Date: 15/11/2020 19:55:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[PA_AÑADIR_PEDIDO] 
(
	@CALLE VARCHAR(1000), 
	@PROVINCIA VARCHAR(1000),
	@POBLACION INT,
	@CODIGO_POSTAL INT,
	@NUMERO VARCHAR(1000),
	@PERSONA_CONTACTO VARCHAR(1000),
	@TELEFONO VARCHAR(1000),
	@ESTADO VARCHAR(50),

	@RETCODE INT OUTPUT,
	@MENSAJE VARCHAR(200) OUTPUT,
	@ID_PEDIDOS INT OUTPUT
)
AS
BEGIN
	
	IF (ISNULL(@CALLE,'') = '' OR 
	    ISNULL(@PROVINCIA,'') = '' OR
	    ISNULL(@POBLACION,'') = '' OR
	    ISNULL(@CODIGO_POSTAL,'') = '' OR
	    ISNULL(@NUMERO,'') = '' OR
	    ISNULL(@PERSONA_CONTACTO,'') = '' OR
	    ISNULL(@TELEFONO,'') = '' OR
		ISNULL(@ESTADO,'') = '')
	BEGIN
		
		SET @MENSAJE =  'Se han de introducir todos los datos'
		SET @RETCODE = 1
		RETURN
	END

	ELSE

	BEGIN

		INSERT INTO PEDIDOS 
		(
			CALLE, 
			PROVINCIA,
			POBLACION,
			CODIGO_POSTAL,
			NUMERO,
			PERSONA_CONTACTO,
			TELEFONO,
			ESTADO
		) 
		VALUES 
		(
			@CALLE, 
			@PROVINCIA,
			@POBLACION,
			@CODIGO_POSTAL,
			@NUMERO,
			@PERSONA_CONTACTO,
			@TELEFONO,
			@ESTADO
		)

		SET @ID_PEDIDOS = @@IDENTITY
		SET @MENSAJE =  'Pedido agreagado correctamente' 
		SET @RETCODE = 0
		RETURN

	END

END
