USE [ARCIPRESTE3]
GO
/****** Object:  StoredProcedure [dbo].[PA_CREAR_USUARIO]    Script Date: 19/10/2020 12:23:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[PA_CREAR_USUARIO] 
(
	@USUARIO VARCHAR(1000), 
	@PASSWORD VARCHAR(70), 
	@PERFIL INT,
	@EMAIL VARCHAR(70),

	@RETCODE INT OUTPUT,
	@MENSAJE VARCHAR(200) OUTPUT
)
AS
BEGIN
SET NOCOUNT ON;

	IF (@USUARIO = '')
	BEGIN
		
		SET @MENSAJE =  'Campo @USUARIO vacio'
		SET @RETCODE = 1
		RETURN
	END

	IF (@PASSWORD = '')
	BEGIN
		 SET @MENSAJE = 'Campo @PASSWORD vacio'
		 RETURN
	END

	IF (@PERFIL <= 0)
	BEGIN
		SET @MENSAJE =  'Campo @PERFIL vacio'
		SET @RETCODE = 1
		RETURN
	END

	IF (@EMAIL = '')
	BEGIN
		SET @MENSAJE =  'Campo @EMAIL vacio'
		SET @RETCODE = 1
		RETURN
	END

	IF EXISTS (SELECT EMAIL FROM USUARIOS WHERE EMAIL = @EMAIL)
	BEGIN
		SET @MENSAJE =  'El email introducido ya esta asociado a un usuario'
		SET @RETCODE = 1
		RETURN
	END

	/*SET @PASSWORD = HASHBYTES('SHA2_256', @PASSWORD) + HASHBYTES('SHA1', @PASSWORD) + HASHBYTES('MD2', @PASSWORD);*/

	INSERT INTO USUARIOS 
	(
		USUARIO,
		[PASSWORD],
		PERFIL,
		EMAIL
	) 
	VALUES 
	(
		@USUARIO, 
		HASHBYTES('SHA2_256', @PASSWORD),
		@PERFIL,
		@EMAIL
	)

	SET @MENSAJE =  'Usuario creado correctamente' 
	SET @RETCODE = 0
	RETURN


END