USE [ARCIPRESTE3]
GO
/****** Object:  StoredProcedure [dbo].[PA_LOGIN]    Script Date: 19/10/2020 11:47:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[PA_LOGIN]
(
	@EMAIL VARCHAR(70), 
	@PASSWORD VARCHAR(70),

	@ID_USUARIOS INT OUTPUT,
	@RETCODE INT OUTPUT,
	@MENSAJE VARCHAR(200) OUTPUT
)
AS
BEGIN
SET NOCOUNT ON;

	IF (@EMAIL = '')
	BEGIN
		
		SET @MENSAJE =  'Campo @EMAIL vacio'
		SET @RETCODE = 1
		RETURN
	END

	IF (@PASSWORD = '')
	BEGIN
		 SET @MENSAJE = 'Campo @PASSWORD vacio'
		 SET @RETCODE = 1
		 RETURN
	END

	/*SET @PASSWORD = HASHBYTES('SHA2_256', @PASSWORD) + HASHBYTES('SHA1', @PASSWORD) + HASHBYTES('MD2', @PASSWORD);*/

	SELECT	@ID_USUARIOS = ID_USUARIOS
	FROM	USUARIOS 
	WHERE	EMAIL = @EMAIL 
	AND	[PASSWORD] = HASHBYTES('SHA2_256', @PASSWORD)

	IF @ID_USUARIOS IS NOT NULL
	BEGIN
		SET @RETCODE = 0
		SET @MENSAJE = 'Se ha logeado correctamente'
	END

	ELSE

	BEGIN
		SET @RETCODE = 1
		SET @MENSAJE = 'Email o contraseña incorrectos'
	END
	RETURN

END
