USE [ARCIPRESTE3]
GO
/****** Object:  StoredProcedure [dbo].[PA_MODIFICAR_ARTICULO]    Script Date: 03/11/2020 16:06:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[PA_MODIFICAR_ARTICULO] 
(
	@ID_ARTICULO INT,
	@NOMBRE VARCHAR(100),
	@DESCRIPCION VARCHAR(1000),
	@FABRICANTE VARCHAR(1000),
	@PESO decimal(12, 2),
	@ALTO decimal(12, 2),
	@LARGO decimal(12, 2),
	@ANCHO decimal(12, 2),
	@PRECIO decimal(12, 2),
	@IMAGEN VARBINARY (MAX),

	@RETCODE INT OUTPUT,
	@MENSAJE VARCHAR(200) OUTPUT
)
AS
BEGIN
SET NOCOUNT ON;

	IF NOT EXISTS (SELECT ID_ARTICULO FROM ARTICULOS WHERE ID_ARTICULO = @ID_ARTICULO)
	BEGIN
		SET @MENSAJE =  'El ID introducido no existe en la base de datos'
		SET @RETCODE = 1
		RETURN
	END

	UPDATE ARTICULOS SET NOMBRE=ISNULL(@NOMBRE,NOMBRE),DESCRIPCION=ISNULL(@DESCRIPCION,DESCRIPCION),FABRICANTE=ISNULL(@FABRICANTE,FABRICANTE),PESO=ISNULL(@PESO,PESO),ALTO=ISNULL(@ALTO,ALTO),
	LARGO=ISNULL(@LARGO,LARGO), ANCHO=ISNULL(@ANCHO,ANCHO), PRECIO=ISNULL(@PRECIO,PRECIO), IMAGEN=ISNULL(@IMAGEN,IMAGEN)
	WHERE ID_ARTICULO = @ID_ARTICULO

	SET @MENSAJE =  'Articulo modificado correctamente' 
	SET @RETCODE = 0
	RETURN


END