USE [ARCIPRESTE3]
GO
/****** Object:  StoredProcedure [dbo].[PA_MODIFICAR_USUARIO]    Script Date: 03/11/2020 16:39:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[PA_MODIFICAR_USUARIO] 
(
	@ID_USUARIO INT,
	@USUARIO VARCHAR(1000), 
	@PASSWORD VARCHAR(70), 
	@PERFIL INT,
	@EMAIL VARCHAR(70),

	@RETCODE INT OUTPUT,
	@MENSAJE VARCHAR(200) OUTPUT
)
AS
BEGIN
SET NOCOUNT ON;
	
	IF (ISNULL(@ID_USUARIO,'') = '')
	BEGIN
		
		SET @MENSAJE =  'No se ha introducido ningún ID de usuario'
		SET @RETCODE = 1
		RETURN
	END

	IF NOT EXISTS (SELECT ID_USUARIOS FROM USUARIOS WHERE ID_USUARIOS = @ID_USUARIO)
	BEGIN
		SET @MENSAJE =  'El ID introducido no existe en la base de datos'
		SET @RETCODE = 1
		RETURN
	END

	UPDATE USUARIOS SET USUARIO=ISNULL(@USUARIO,USUARIO),PASSWORD=ISNULL(HASHBYTES('SHA2_256', @PASSWORD),PASSWORD),PERFIL=ISNULL(@PERFIL,PERFIL),EMAIL=ISNULL(@EMAIL,EMAIL)
	WHERE ID_USUARIOS = @ID_USUARIO

	/*UPDATE USUARIOS SET USUARIO = @USUARIO, PASSWORD = HASHBYTES('SHA2_256', @PASSWORD), PERFIL=@PERFIL, EMAIL = @EMAIL
	WHERE EMAIL = @EMAIL*/

	SET @MENSAJE =  'Usuario modificado correctamente' 
	SET @RETCODE = 0
	RETURN


END