<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
	  <add name="UsuariosEntities3" connectionString="metadata=res://*/Usuario.Usuarios.csdl|res://*/Usuario.Usuarios.ssdl|res://*/Usuario.Usuarios.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cobaya-up;initial catalog=ARCIPRESTE3;persist security info=True;user id=sa;password=Arc1pr3s;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="ArticulosEntities" connectionString="metadata=res://*/Articulos.Articulos.csdl|res://*/Articulos.Articulos.ssdl|res://*/Articulos.Articulos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cobaya-up;initial catalog=ARCIPRESTE3;user id=sa;password=Arc1pr3s;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>